<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>

	<!--links del ccs-->
	<link rel="stylesheet" href="../css/estilo.css">

	<!--links de fuente gramática-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>

	<div class="indexEstilo">
		<!--inicio encabezado-->
	
		<header class="header">
			<!--LOGO-->
			<div class="logo">

				<a href="../index.html">
					<img src="../assets/img/computadora.jpg" alt="logo" class="logo__pagina">
				</a>

			</div>
			<!--cierre LOGO-->

			<!--inicio barra de navegacion-->
			<div class="barra_navegacion">
				<ul class="menu_horizontal">
					<li><a href="../index.html">Inicio</a></li>
					<li>
						<a href="servicios.html">Servicios</a>
						<ul class="menu_vertical">
							<li><a href="servicios.html #compra">Comprar Nothebook</a></li>
							<li><a href="servicios.html #repuesto">Comprar Repuesto</a></li>
							<li><a href="servicios.html #limpieza">Servicio Limpieza</a></li>
						</ul>
					</li>
					<li>
						<a href="nosotros.html">Nosotros</a>
						<ul class="menu_vertical">
							<li><a href="nosotros.html #quienes">¿Quienes somos?</a></li>
							<li><a href="nosotros.html #empezar">¿Como empezamos?</a></li>
						</ul>
					</li>
					<li><a href="contacto.html">Contacto</a></li>
					<li>
						<a href="dudas.html">Dudas</a>
						<ul class="menu_vertical">
							<li><a href="dudas.html #frecuente">Preguntas frecuentes</a></li>
							<li><a href="dudas.html #duda">Deja Tu Duda</a></li>
						</ul>
					</li>
				</ul>
			</div>
		<!--cierre barra de navegacion-->

		</header>
		<!--cierre de encabezado-->

		<!--inicio contenedio-->

		<main class="contenido2">
			<div>
				<!--contacto por whastapp mail y medios de pagos-->

				<a href="https://www.whatsapp.com/?lang=es" target="_blank">
					<img src="../assets/img/whatsapp.jpg" class="logo__telefono">
				</a>
			</div>

			<br>

			<div class="telefono_contacto">
				<h3 class="titulo_celular">Contacto por Telefono: </h3>
				<a href="tel:+543516710707"><img src="../assets/img/telefono.png" class="telefono_img"></a>
			</div>
		
			<div class="contacto_mail">
				<h3 class="titulo__email">Contacto por Mail: </h3>
				<a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank">
					<img src="../assets/img/gmail.png" class="logo__email">
				</a>
			</div>

			<div class="medios_pagos">
				<h3 class="titulo__pagos">Medios de Pagos: </h3>

				<h4 class="titulo__transferencia">Transferencia Bancaria: </h4>
				<img src="../assets/img/transferencia.png" class="logo__transferencia">

				<h4 class="titulo__mercadoPago">Mercado Pago: </h4>
				<img src="../assets/img/mercadopago.jpg" class="logo__mercadoPago">
			</div>

			<div class="mapa">
				<h3 class="titulo__local">Nuestro Local: </h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.5812663633496!2d-64.23112588429183!3d-31.425661003846383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a208ec64f9d3%3A0x9548d51a8e8b74db!2sMaestro%20Vidal%20%26%20Hector%20Paniza%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1643125478090!5m2!1ses-419!2sar" width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="mapa__local"></iframe>

			</div>
			<!--fin del contacto por whastapp mail y medios de pagos-->

		</main>
		<!--cierre contenido-->

		<!--inicio footer-->

		<footer class="footer">
			<!--redes sociales-->

			<div class="pie_pagina3">
				<h3 class="titulo__footer3">REDES SOCIALES Y CONTACTO</h3>
				<a href="https://www.whatsapp.com/?lang=es" target="_blank" class="imagen_whats3">
					<img src="../assets/img/whatsapp.jpg" class="logo_whatsapp">
				</a>
			

				<!--texto de contacto-->

				<p class="texto__contacto3">
					Telefono: 3516710707<br>
					Email: nachorojos99 @ gmail.com<br>
					Horario De Atencion: Lun a Sab de 9 hs a 18 hs<br>
					Direccion: Hector Paniza Esquina Maestro Vidal<br>
				</p>

			</div>

		</footer>

		<!--cierre footer-->
	</div>

</body>

</html>