<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros</title>
	
	<!--links del ccs-->
	<link rel="stylesheet" href="../css/estilo.css">

	<!--links de fuente gramática-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>

	<!--inicio encabezado-->
	<div class="indexEstilo">
		<header class="header">
			<!--inicio LOGO-->
			<div class="logo">

				<a href="../index.html">
					<img src="../assets/img/computadora.jpg" alt="logo" class="logo__pagina">
				</a>

			</div>
			<!--cierre LOGO-->

			<!--inicio barra de navegacion-->

			<div class="barra_navegacion">
				<ul class="menu_horizontal">
					<li><a href="../index.html">Inicio</a></li>
					<li>
						<a href="servicios.html">Servicios</a>
						<ul class="menu_vertical">
							<li><a href="servicios.html #compra">Comprar Nothebook</a></li>
							<li><a href="servicios.html #repuesto">Comprar Repuesto</a></li>
							<li><a href="servicios.html #limpieza">Servicio Limpieza</a></li>
						</ul>
					</li>
					<li>
						<a href="nosotros.html">Nosotros</a>
						<ul class="menu_vertical">
							<li><a href="nosotros.html #quienes">¿Quienes somos?</a></li>
							<li><a href="nosotros.html #empezar">¿Como empezamos?</a></li>
						</ul>
					</li>
					<li><a href="contacto.html">Contacto</a></li>
					<li>
						<a href="dudas.html">Dudas</a>
						<ul class="menu_vertical">
							<li><a href="dudas.html #frecuente">Preguntas frecuentes</a></li>
							<li><a href="dudas.html #duda">Deja Tu Duda</a></li>
						</ul>
					</li>
				</ul>
			</div>

		<!--cierre barra de navegacion-->

		</header>
		<!--cierre de encabezado-->

		<!-- inicio contenido-->

		<main class="contenido1">
			<!--explicacion de quienes somos-->
			<div id="quienes" class="quienes">
				<h2 class="titulo__explicacion">¿Quienes somos?</h2>
				<p class="texto_explicacion">hola nosotros somos una pequeña empresa dedicada a la venta y reparacion de nothebooks<br>
			   	de todas las marcas, la venta de respuestos,etc......

				</p>

				<!--imagen ilustrativa-->

				<img src="../assets/img/reparacion.jpg" class="imagen__reparacion">
			</div>
		

			<br>

			<div id="empezar" class="empezar">
				<h2 class="titulo__video">Un poco de lo que hacemos: </h2>

				<br>

				<!--video de nuestro trabajo-->

				<iframe width="560" height="315" src="https://www.youtube.com/embed/QduD0WW_aA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video__presentacion"></iframe>
					
			</div>

		<!--fin explicacion de quienes somos-->
		</main>
		<!--cierre contenido-->

		<!--inicio footer-->

		<footer class="footer">
			<!--redes sociales-->
		
			<div class="pie_pagina2">
				<h3 class="titulo__footer2">REDES SOCIALES Y CONTACTO</h3>
				<a href="https://www.whatsapp.com/?lang=es" target="_blank" class="imagen_whats2">
					<img src="../assets/img/whatsapp.jpg" class="logo_whatsapp">
				</a>
					
			<!-- texto de contacto-->

				<p class="texto__contacto2">
					Telefono: 3516710707<br>
					Email: nachorojos99 @ gmail.com<br>
					Horario De Atencion: Lun a Sab de 9 hs a 18 hs<br>
					Direccion: Hector Paniza Esquina Maestro Vidal<br>
				</p>
			</div>

		<!--cierre footer-->
	</div>

</body>	

</html>